@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    background: black;
}

.App {
    background: black;
}

.nav-bar {
    color: rgb(0, 0, 0);
}

.main {
    position: relative;
}

.logo {
    margin: 0 auto;
    position: absolute;
}

.logo img {
    height: 30px;
    width: auto;
    margin: 20px 20px;
}

.nav-container {
    /* display: flex; */
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
    width: 100%;
}

.nav-container li {
    display: inline-block;
    text-decoration: none;
    margin: 20px;
}

.nav-container a {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1px;
    color: white;
    text-decoration: none;
    /* margin-left: 1em; */
    padding: 14px 16px;
}


/*  change color while hovering */

.nav-container a:hover,
.nav-container a:active {
    color: rgb(14, 54, 34);
}

.img-container {
    display: grid;
    display: flex;
    padding: 14px 6px;
}

img {
    display: block;
}

.img_1 {
    height: 60vmin;
    width: auto;
    padding: 20px 70px;
}

.img_2 {
    height: 60vmin;
    width: auto;
    padding: 85px 80px;
}

.img_3 {
    height: 60vmin;
    width: auto;
    padding: 20px 80px;
}

.img_4 {
    height: 60vmin;
    width: auto;
    padding: 85px 80px;
}

ul li:hover~.cursor {
    transform: scale(5);
}

.cursor {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
}