@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    background: black;
}

.App {
    background: black;
}

.nav-bar {
    color: rgb(0, 0, 0);
}

.nav-container {
    display: flex;
    list-style-type: none;
}

.nav-container {
    text-align: right;
}

.nav-container ul li {
    text-decoration: none;
    position: relative;
    text-align: right;
}

.nav-container a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1px;
    color: white;
    text-decoration: none;
    /* margin-left: 1em; */
    padding: 14px 16px;
}

.img-container {
    display: flex;
    padding: 14px 6px;
}

.img_1 {
    height: 60vmin;
    padding: 20px 140px;
}

.img_2 {
    height: 60vmin;
    padding: 85px 20px;
}

.img_3 {
    height: 60vmin;
    padding: 20px 100px;
}

.img_4 {
    height: 60vmin;
    padding: 85px 20px;
}

ul li:hover~.cursor {
    transform: scale(5);
}

.cursor {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
}