@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    background: black;
}

.App {
    background: black;
}

.nav-bar {
    color: rgb(0, 0, 0);
}

.main {
    position: relative;
}

.logo {
    margin: 0 auto;
    position: absolute;
}

.logo img {
    height: 30px;
    width: auto;
    margin: 20px 20px;
}

.nav-container {
    /* display: flex; */
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
    width: 100%;
}

.nav-container li {
    display: inline-block;
    text-decoration: none;
    margin: 20px;
}

.nav-container a {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1px;
    color: white;
    text-decoration: none;
    /* margin-left: 1em; */
    padding: 14px 16px;
}


/*  change color while hovering */

.img-container {
    display: grid;
    display: flex;
    padding: 14px 6px;
}

.images {
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
}

.images ul {
    width: 20px auto;
}

.images li {
    padding: 0 3%;
    display: inline-block;
}

.images li img {
    height: 500px;
    max-width: 100%;
}

.images li:hover {
    position: relative;
    top: -10px;
}

ul li:hover~.cursor {
    transform: scale(5);
}

.cursor {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
}